#h1{
width: 100%;
height: 150px;
background-color: black;
color: white
}
#footer{
width: 100%;
height: 100px;
background-color: black;
color: white
}
#beeld{
width: 25%;
align= "middle"
}
#rood{
background-color: red;
}
#groen{
background-color: green;
}
#blauw{
background-color: blue;
}
#roze{
background-color: pink;
}
#zwart{
background-color: black; color: white
}
#zilver{
background-color: silver;
}
#bruin{
background-color: brown;
}
#oranje{
background-color: orange;
}
