@charset "utf-8";
/* CSS Document */
body{
}
header{
background-color: orange;
width: 100%;
height: 200px;
}
footer{
background-color: blue;
width: 100%;
height: 200px;
}
table{
width: 100%;
}
#a1{
background-color: green ;
color: white ;
	}
#a2{
background-color: blue ;
color: orange ;
}
#a3{
background-color: yellow ;
color: red ;
}
#a4{
background-color: brown ;
color: grey ;
}
#a5{
background-color: pink ;
color: black ;
}
#a6{	
background-color: purple;
color: green ;
}
#a7{
background-color: #66ff00;
color: #ff1233 ;
}
#a8{
background-color: #885566 ;
color: #127895 ;
}
#a9{
background-color: #473596 ;
color: #782391 ;
}
#a10{
background-color: #703791 ;
color: #aa4851 ;
}
#a11{
background-color: #bb6891;
color: snow;
}
#a12{
background-color: lightblue;
	color: yellow ;
}
#a13{
background-color: #cc1588;
color: white ;
}
#a14{
background-color: #aa8899 ;
color: #ff9966;
}
#a15{
background-color: #cc8884 ;
color: #d66699 ;
}
#a16{
background-color: #447890 ;
color: #f89562;
}


